@{
    ViewData["Title"] = "Fit for Life";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:black;border-radius:30px;">
    <h2>
        Our Commitment
    </h2>
</div>
<div class="ms-4">
    <p>
        Welcome to Game Store, your ultimate destination for all things gaming! We pride ourselves on offering an expansive selection of video games, 
        ensuring that there's something for every type of player. From the latest AAA titles to hidden indie gems, our vast catalog covers all genres, platforms, and preferences.
    </p>
    <p>At Game Store, we believe in the power of choice—by maintaining a large supply of games, we ensure that you always have access to the games you love, whenever you want them.</p>
    <p>Our goal is to provide you with the best gaming experience by offering variety, availability, and unmatched service.</p>
    <p>
        If you have any complaints about our service, please note any and all issues will be properly accepted and promptly ignored.
    </p>
</div>