@{
    ViewData["Title"] = "Game Store";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:black;border-radius:30px;">
    <h2>
        Contact Information
    </h2>
</div>
<div class="ms-3">
    <address>
        666 Wall Street<br />
        Memphis, NY 57189<br />
        <i class="fa fa-phone" style="font-size:24px"></i> 800.STORE.GAME
    </address>

    <address>
        <strong>Complants:</strong>   <a href="mailto:Complants@GameStore.com">Complants@GameStore.com</a><br />
        <strong>Employment:</strong> <a href="mailto:Employment@GameStore.com">Employment@GameStore.com</a>
    </address>
</div>