body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #6982db;
    color: black;
}

a {
    color: darkred;
    text-decoration: none;
    padding: 10px;
}

    a:hover {
        font-size: 1.2em;
        text-shadow: 1px 1px 10px red;
        border-radius: 10px;
        text-decoration: none;
        color: darkred;
    }

.nav-link:hover {
    color: white;
    background-color: darkgoldenrod;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link {
    color: darkred !important;
}
.p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
